* {
  заполнение :  0 ;
  маржа :  0 ;
  box-sizing : рамка-бокс;
}

тело {
  семейство шрифтов :  "Rubik Distressed" , скоропись;
  высота :  100 вх ;
  дисплей : гибкий;
}

. столбец {
  флекс :  1 ;
  дисплей : гибкий;
  flex-направление : столбец;
  justify-content : пространство вокруг;
  выравнивание элементов : по центру;
}
. столбец  h2 {
  отступ :  10 пикселей ;
  цвет :  #fff ; _
  радиус границы :  10 пикселей ;
  переход : фон 1,3 с ;
}

. столбец  h2 : наведите курсор {
  фон :  rgba ( 0 ,  0 ,  0 ,  0,1 );
  курсор : указатель;
}

. кнопка столбца  {
  контур : нет;
  граница : нет;
  фон : прозрачный;
  размер шрифта :  1,5 рем ;
  цвет :  #fff ; _
  отступ :  10 пикселей ;
  радиус границы :  10 пикселей ;
  переход : фон 1,3 с ;
}

. кнопка col  : наведите {
  фон :  rgba ( 0 ,  0 ,  0 ,  0,1 );
  курсор : указатель;
}
